/*---------------------------header--------------------------*/
header {
  color: #000;
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1;
}

.header {
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
.header-content {
  padding: 30px 70px 0;
  padding-right: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
}
.header-content.fixed {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(252, 237, 234, 0.9);
}
.header-box {
  display: flex;
  align-items: center;
  width: calc(100% - 160px);
  justify-content: space-between;
}
.header-nav {
  display: flex;
  margin-right: auto;
}
.header-nav li {
  margin: 0 30px;
  position: relative;
}

.header-nav li a {
  color: #000;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}
.header-nav li a:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 37px;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-nav li a:hover,
.header-nav li a.active {
  color: #cb456d;
}
.header-nav li a:hover:after,
.header-nav li a.active:after {
  opacity: 1;
}
.header-nav li ul {
  position: absolute;
  top: 47px;
  left: 200%;
  transform: translateX(-50%);
  width: 264px;
  background: #ffffff;
  padding: 25px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}
.header-nav li ul li {
  padding: 0;
  margin: 0;
}
.header-nav li ul li a {
  text-transform: initial;
  font-size: 16px;
  line-height: 170%;
  color: #666666;
  padding: 7.6px 40px;
  display: block;
}
.header-nav li ul li a:hover {
  background-color: #d44973;
  color: #fff;
}
.header-nav li ul li a:hover:after {
  display: none;
}
.header-nav li:hover:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 80px;
  z-index: 1;
}
.header-nav li:hover ul {
  opacity: 1;
  visibility: visible;
}
.header-options {
  display: flex;
  align-items: center;
}
.header-options li {
  margin-left: 45px;
}
.header-options li a {
  display: flex;
  align-items: center;
}
.header-options li svg {
  color: black;
  transition: all 0.3s linear;
  font-size: 19px;
}
.header-options li svg:hover {
  color: #cb456d;
  cursor: pointer;
}
.header-options li span {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: -30px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cb456d;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

.btn-menu {
  color: black;
  cursor: pointer;
  display: none;
  height: 45px;
  width: 22px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 72%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 111;
}
.btn-menu span {
  background-color: black;
  display: block;
  height: 2px;
  left: calc(50% - 11px);
  position: absolute;
  -ms-transform-origin: center;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 22px;
}
.btn-menu span:nth-child(1) {
  top: calc(50% - 7px);
}
.btn-menu span:nth-child(2) {
  top: calc(50% - 1px);
}
.btn-menu span:nth-child(3) {
  top: calc(50% + 5px);
}
.btn-menu.active {
  cursor: pointer;
}
.btn-menu.active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.btn-menu.active span:nth-child(2) {
  opacity: 0;
}
.btn-menu.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 1600px) {
  .header-logo {
    min-width: 110px;
  }
}
@media screen and (max-width: 1200px) {
  .header-logo {
    min-width: 85px;
  }
  .header-nav li {
    margin: 0 15px;
  }
  .header-nav li a,
  .header-nav li ul li a {
    font-size: 12px;
  }
  .header-box {
    width: calc(100% - 125px);
  }
  .header-options li {
    margin-left: 25px;
  }
  .header-nav li ul li a {
    padding: 5px 30px;
  }
  .header-nav li ul {
    padding: 10px 0;
    width: 220px;
  }
}
@media screen and (max-width: 991px) {
  .header-options li svg {
    font-size: 16px;
  }
  .header-options li {
    margin-left: 15px;
  }
  .header-options li span {
    width: 18px;
    height: 18px;
    font-size: 11px;
  }
  .header-nav li {
    margin: 0 10px;
  }
  .header-top span {
    font-size: 12px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .btn-menu {
    display: block;
  }
  .header-top span {
    font-size: 9px;
    display: block;
  }
  .header-top-close {
    top: 48%;
  }
  .header-logo {
    width: 85px;
  }
  .header-box {
    right: -306px;
    position: fixed;
    top: 0;
    width: 230px;
    height: 100%;
    flex-direction: column;
    background-color: #ffffff;
    color: #2a2a2a;
    z-index: 101;
    justify-content: start;
    align-items: flex-start;
    padding: 48px 30px 30px;
    transition: 0.3s ease-in;
    overflow: scroll;
    flex-direction: column;
  }
  .header-box.active {
    right: 0;
  }
  .header-nav {
    flex-direction: column;
  }
  .header-nav li {
    margin: 0;
    margin-bottom: 15px;
  }
  .header-nav li a,
  .header-nav li ul li a {
    font-size: 14px;
  }
  .header-options li {
    margin-left: 0;
  }
  .header-options {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-content.fixed {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .header-content.fixed .btn-menu {
    top: 50%;
  }
  .header-nav li ul {
    width: 100%;
    position: relative;
    left: auto;
    transform: none;
    top: auto;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    display: none;
  }
  .header-nav li ul.active {
    display: block;
  }
  .header-nav li ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-nav li:hover:after {
    display: none;
  }
}
